name: CI
"on":
  push:
jobs:
  release:
    steps:
      - name: install dependencies
        run: |2
          if [ ! -f /usr/bin/pacman ]
          then
          sudo apt-get update
          sudo apt-get install ksh
          sudo apt-get -y install makepkg
          fi
      - name: release
        run: npx semantic-release
        env:
          CI: 'true'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PKGBUILD_PUBLISH: ${{ secrets.PKGBUILD_PUBLISH }}
          PKGEXT: '.pkg.tar.xz'
  